// Typography
$body-font: 'Source Code Pro', monospace;
$base-font-size: 16px;

// Colors
$primary-color: #FF9900;
$background-color: #FFF;
$font-color: #333;

// Dark theme colors
$dark-background-color: #121212;
$dark-font-color: #e6e6e6;

// Screen size for responsiveness
$small-screen: 400px;
$mid-screen: 768px;
$large-screen: 1024px;

@import './reset';
@import './theme';
@import './global';
@import './header';
@import './footer';
@import './home';
@import './post';